<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name= "cn" connectionString="Data Source=DESKTOP-34MD1UU;Initial Catalog=LoveRelationship;Integrated Security=True"/>
    </connectionStrings>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key= "NumberOfTextboxes" value="3" />
      <add key= "ParentChildTextboxesLabels" value="denumire:,calitate:,pid:" />
      <add key= "ChildTextboxesLabels" value="denumire:,calitate:" />
      <add key= "select" value="Select * from Pirati" />
      <add key="ParentTableName" value="Pirati"/>
      <add key="ChildTableName" value="Rom"/>
      <add key="ChildNumberOfColumns" value="3"/>
      <add key="ChildColumnNames" value="rid,denumire,calitate"/>
      <add key="ColumnNamesInsertParameters" value ="@denumire,@calitate,@pid"/>
      <add key="ColumnNamesUpdateParameters" value ="@denumire,@calitate"/>
      <add key ="updateChild" value="UPDATE Rom SET denumire=@denumire, calitate=@calitate WHERE rid=@rid"/>
      <add key ="deleteChild" value="DELETE FROM Rom WHERE rid=@rid"/>
      <add key="titluParent" value="PIRATI"/>
      <add key="titluChild" value="ROM"/>
      <add key="idChild" value="@rid"/>
      <add key="mesajPreaMulteSelectate" value="Selectati un singur pirat!!"/>
      <add key="mesajNiciunSelectat" value="Selectati mai intai un pirat!!"/>
      <add key= "selectChildren" value="Select * from Rom WHERE pid=@parentId" />
    </appSettings>
  
  <!--
    <connectionStrings>
      <add name= "cn" connectionString="Data Source=DESKTOP-34MD1UU;Initial Catalog=Imdb;Integrated Security=True"/>
    </connectionStrings>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key= "NumberOfTextboxes" value="3" />
      <add key= "ParentChildTextboxesLabels" value="nume:,an:,did:" />
      <add key= "ChildTextboxesLabels" value="nume:,an:" />
      <add key= "select" value="Select * from Directors" />
      <add key="ParentTableName" value="Directors"/>
      <add key="ChildTableName" value="Movie"/>
      <add key="ChildNumberOfColumns" value="3"/>
      <add key="ChildColumnNames" value="mid,nume,an"/>
      <add key="ColumnNamesInsertParameters" value ="@nume,@an,@did"/>
      <add key="ColumnNamesUpdateParameters" value ="@nume,@an"/>
      <add key ="updateChild" value="UPDATE Movie SET nume=@nume, an=@an WHERE mid=@mid"/>
      <add key ="deleteChild" value="DELETE FROM Movie WHERE mid=@mid"/>
      <add key="titluParent" value="DIRECTORS"/>
      <add key="titluChild" value="MOVIES"/>
      <add key="idChild" value="@mid"/>
      <add key="mesajPreaMulteSelectate" value="Selectati un singur regizor!!"/>
      <add key="mesajNiciunSelectat" value="Selectati mai intai un regizor!!"/>
      <add key= "selectChildren" value="Select * from Movie WHERE did=@parentId" />
    </appSettings>
--> 
</configuration>